{% extends 'movie/base.html' %}
{% block title %} movie {% endblock %}
{% block static%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'movie/style/index.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
<div id="inner" class="h-100 d-flex justify-content-center align-items-center text-center">
	<div>
  		<main role="main" class="inner cover">
    		<h1 class="cover-heading">Welcome to Cent Movies</h1>
    		<p class="lead">This website is developed using Python Django web framework for server side language, postgreSQL for database management, JavaScript , HTML and CSS for frontend development, most of the webpages including this one is styled by using bootstrap CSS library. The source of the available data used in this website is https://www.imdb.com . Thank you for visiting this website, we will continuously update this website for greater user experiance in coming days.</p>
    		<p class="lead">
      			<a href="{% url 'list' %}" id="btn" class="btn btn-outline-dark"><b>Home</b></a>
    		</p>
  </main>
</div>
</div>

{% endblock %}