{% extends 'movie/base.html' %}
{% block title %} detail {% endblock %}
{% block static%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'movie/style/detail.css' %}">
<script src="{% static 'movie/script/detail.js' %}"type="text/javascript"></script>
{% endblock %}

{% block content %}
<h1 class="text-center">{{object.Name}}</h1>
<div class="container">
	<div class="row">
		<div id="image" class="col">
			{% load static %}
			<img src="{% static 'movie/image/' %}{{object.pk}}.jpg">
		</div>
		<div class="col">
			<p>Released in: <a href="{% url 'new_list' 'Year' object.ReleaseYear %}">{{object.ReleaseYear}}</a></p>
			<p>Director: <a href="{% url 'new_list' 'Director' object.Director %}">{{object.Director}}</a></p>
			<p>Language: <a href="{% url 'new_list' 'Language' object.Language %}">{{object.Language}}</a></p>
			<p>Cast 1: <a href="{% url 'new_list' 'Cast' object.Cast_I %}">{{object.Cast_I}}</p></a>
			<p>Cast 2: <a href="{% url 'new_list' 'Cast' object.Cast_II %}">{{object.Cast_II}}</p></a>
			<p>Imdb Rating: {{object.ImdbRating}}</p>
			<p>Genre: {{object.Genre}}</p>
			<p><a href="https://en.wikipedia.org/wiki/{{object.Name}}">Know More</a></p>
		</div>
	</div>
</div>
<br>
<div class="text-center">
<h3>How was this movie?</h3>
	<h4>
    	<span id="likespan">{{object.Like}}</span>
		<button id="likebtn" type="submit" class="btn btn-primary">Like</button>
		<span id="dislikespan">{{object.Dislike}}</span>
		<button id="dislikebtn" type="submit" class="btn btn-primary">Dislike</button>
	</h4>
</div>
<br>
<h3 class="text-center">Write a review of {{object.Name}}</h3>
	<div>
	    <form method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" class="btn btn-outline-dark">
    </form>
	</div>
	<br>
	<br>
	{% if object.movie_review.all %}
	<div>
		<h3 class="text-center"> Review of {{object.Name}}</h3>
		<ul style="list-style-type:none">
			{% for review in object.movie_review.all %}
			<div id="review">
				<li><span id="name">{{review.Name}}</span> <span id="date">{{review.Date}}</span> {{review.Review}}</li>
			</div>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
{% endblock %}