{% extends 'movie/base.html' %}
{% block title %} list {% endblock %}
{% block static%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'movie/style/rating.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
<h1 class="text-center">This is movie section</h1>
<br>
<div class="container">
    <div class="row">
        {% for movie in page_obj %}   
        <div class="col-6 col-md-3" style="height:500px;">
            {% load static %}
            <a href="{% url 'detail' movie.pk %}">
            <img src="{% static 'movie/image/' %}{{movie.id}}.jpg">
            </a>
            <h5><a href="{% url 'detail' movie.pk %}">{{movie.show_name}}</a></h5>
                <div>
                <span class="fa-fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>{{movie.ImdbRating}}</span>
                <span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
                <span>{{movie.Like}}</span>
                <span class="fa fa-thumbs-o-down" aria-hidden="true"></span>
                <span>{{movie.Dislike}}</span>
                </div>

            {% if movie.avail %}
                <i class="fa fa-check" aria-hidden="true">Available in {{movie.avail}}</i>
            {% else %}
                <i class="fa fa-times" aria-hidden="true"> Not Available</i>
            {% endif %}
            <!--<i class="fa fa-check" aria-hidden="true">{{movie.Available}}</i>-->
            <form target="_blank" method="POST" action="https://www.youtube.com/results?search_query={{movie.search_trailler}}">
                 <button type="submit" class="btn btn-primary">Click Here to Watch Trailer</button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>
<br>
    <div class="pagination justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
            {% endif %}
    
            <li class="page-item current">
                <a class="page-link"> {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a>
            </li>
    
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
            {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}