{% extends 'movie/base.html' %}
{% block title %} movie {% endblock %}
{% block content %}
<div class="container" style="width:fit-content">
    <div class="row">
        </div class="col">
            <h1>This is User Registration section</h1>
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <div style="text-align: center;">
                <input type="submit" class="btn btn-primary">
                <br>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}